<div class="response">
    <h2>{{response}}</h2>
</div>

<div class="general-div">

    <form name="adminForm">
        <br>

        <h1 style="margin-left: 30px">Управление доставками</h1>

        <br>

        <div class="row form-inline generator">

            <div class="col-md-1 generator-label">
                <label style="float: right;">Сгенерировать случайную доставку</label>
            </div>

            <div class="col-md-5 generator-group">
                <div class="row">
                    <div class="col-md-7">
                        <label>E-mail пользователя:</label>
                        <br>
                        <select class="form-control user-random-delivery-dropdown" 
                                ng-model="userRandomDelivery" 
                                name="user_random_delivery_dropdown" 
                                required>
                            <option value="">Выберите пользователя</option>
                            <option ng-repeat="user in users">{{user.Email}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.user_random_delivery_dropdown.$error.required">
                           Выберите пользователя для генерации случайной доставки
                        </p>
                    </div>
                    <div class="col-md-5">
                        <button type="button" 
                                ng-click="generateDelivery()" 
                                ng-disabled="!userRandomDelivery" 
                                class="btn btn-primary">
                                Генерировать
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 reload-deliveries-label">
                <label style="float: right;">Перевыгрузить доставки</label>
            </div>

            <div class="col-md-5 reload-deliveries-group">
                <div class="row">
                    <div class="col-md-6">
                        <label>E-mail пользователя:</label>
                        <br>
                        <select class="form-control user-reload-deliveries-dropdown" 
                                ng-model="userReloadDeliveries" 
                                name="user_reload_deliveries_dropdown" 
                                required>
                            <option value="">Выберите пользователя</option>
                            <option ng-repeat="user in users">{{user.Email}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.user_reload_deliveries_dropdown.$error.required">
                           Выберите пользователя для перевыгрузки всех доставок
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="reloadDeliveries()" 
                                ng-disabled="!userReloadDeliveries" 
                                class="btn btn-primary user-reload-deliveries-button">
                                Перевыгрузить
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <h3 style="margin-left: 30px">Создать доставку вручную</h3>
        
        <br>

        <div class="custom-delivery">
            <div class="row form-inline user-product">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <label>Пользователь</label>
                    <br>
                    <select class="form-control custom-delivery-user-dropdown" 
                            ng-model="customDeliveryUser" 
                            name="custom_delivery_user_dropdown"
                            ng-change="customDeliveryUserUpdate()"
                            required>
                        <option value="">Выберите пользователя</option>
                        <option ng-repeat="user in users">{{user.Email}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_user_dropdown.$error.required">
                       Необходимо выбрать пользователя
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Курьер</label>
                    <br>
                    <select class="form-control custom-delivery-courier-dropdown" 
                            ng-model="customDeliveryCourier" 
                            name="custom_delivery_courier_dropdown" 
                            required>
                        <option value="">Выберите курьера</option>
                        <option ng-repeat="categorisedCourier in categorisedCouriers">{{categorisedCourier.CourierName}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_courier_dropdown.$error.required">
                       Необходимо выбрать курьера
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Тип продукта:</label>
                    <br>
                    <select class="form-control custom-delivery-product-type-dropdown" 
                            name="custom_delivery_product_type_dropdown" 
                            ng-model="customDeliveryProductType" 
                            ng-change="customDeliveryProductsUpdate()"
                            required>
                        <option value="">Выберите тип продукта</option>
                        <option ng-repeat="prodType in prodTypes">{{prodType}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_product_type_dropdown.$error.required">
                       Необходимо выбрать тип продукта
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Продукт:</label>
                    <br>
                    <select class="form-control custom-delivery-product-dropdown" 
                            ng-model="customDeliveryProduct" 
                            name="custom_delivery_product_dropdown" 
                            ng-change="productChange()"
                            required>
                        <option value="">Выберите продукт</option>
                        <option ng-repeat="categorisedProduct in categorisedProducts">{{categorisedProduct.ProductLabel}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_product_dropdown.$error.required">
                       Выберите продукт
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Кол-во:</label>
                    <br>
                    <input type="number" 
                           ng-init="quantity=1.00"
                           ng-model="quantity" 
                           class="form-control number" 
                           id="custom_delivery_quantity" 
                           name="custom_delivery_quantity" 
                           ng-change="quantityChange()"
                           min="1"
                           max="100">
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_quantity.$error.max">
                       Укажите количество от 1 до 100
                    </p>
                </div>
                 <div class="col-md-1">
                </div>
            </div>
            <div class="row form-inline address">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <label>Город:</label>
                    <br>
                    <select class="form-control custom-delivery-region-dropdown" 
                            name="custom_delivery_region_dropdown" 
                            ng-model="customDeliveryRegion" 
                            ng-change="customDeliveryStreetsUpdate()"
                            required>
                        <option value="">Выберите город</option>
                        <option ng-repeat="region in regions">{{region}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_region_dropdown.$error.required">
                       Необходимо выбрать город
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Улица:</label>
                    <br>
                    <select class="form-control custom-delivery-street-dropdown" 
                            ng-model="customDeliveryStreet" 
                            name="custom_delivery_street_dropdown" 
                            required>
                        <option value="">Выберите улицу</option>
                        <option ng-repeat="categorisedStreet in categorisedStreets">{{categorisedStreet.StreetName}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_street_dropdown.$error.required">
                       Необходимо выбрать улицу
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Дом:</label>
                    <br>
                    <input type="number" 
                           ng-init="home=1.00"
                           ng-model="home" 
                           class="form-control number" 
                           id="home" 
                           name="home" 
                           min="1"
                           max="100">
                    <p class="help-block" 
                       ng-show="adminForm.home.$error.max">
                       Укажите номер дома от 1 до 100
                    </p>
                </div>
                <div class="col-md-2">
                    <label>Корпус:</label>
                    <br>
                    <input type="number" 
                           ng-init="building=1.00"
                           ng-model="building" 
                           class="form-control number" 
                           id="building" 
                           name="building" 
                           min="1"
                           max="20">
                    <p class="help-block" 
                       ng-show="adminForm.building.$error.max">
                       Укажите значение в интервале от 1 до 20
                    </p>
                </div>
                <div class="col-md-3">
                    <label>Источник рекламы:</label>
                    <br>
                    <select class="form-control custom-delivery-marketing-source" 
                            ng-model="customDeliveryMarketingSource" 
                            name="custom_delivery_marketing_source" 
                            required>
                        <option value="">Выберите источник рекламы</option>
                        <option ng-repeat="marketingSource in marketingSources">{{marketingSource}}</option>
                    </select>
                    <p class="help-block" 
                       ng-show="adminForm.custom_delivery_marketing_source.$error.required">
                       Необходимо указать источник рекламы
                    </p>
                </div>
                <div class="col-md-2">
                </div>
            </div>
            <div class="row form-inline marketing-source">
                <div class="col-md-1">
                </div>
                <div class="col-md-2">
                    <label>Дата заказа:</label>
                    <br>
                    <input type="date" 
                           ng-model="orderDate" 
                           class="form-control" 
                           id="order_date" 
                           name="order_date">
                </div>
                <div class="col-md-2">
                    <label>Время заказа:</label>
                    <br>
                    <input type="time" 
                           ng-model="orderTime" 
                           class="form-control" 
                           id="order_time" 
                           name="order_time">
                </div>
                <div class="col-md-2">
                    <label>Сумма заказа:</label>
                    <br>
                    <input type="text"
                           ng-model="totalSum"
                           class="form-control text"
                           id="total_sum"
                           name="total_sum"
                           disabled>
                    <label>руб.</label>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-2">
                    <br>
                    <button type="button" 
                            ng-click="saveDelivery()" 
                            ng-disabled="!customDeliveryMarketingSource ||
                                         !home ||
                                         !customDeliveryStreet ||
                                         !customDeliveryRegion ||
                                         !quantity ||
                                         !customDeliveryProduct ||
                                         !customDeliveryProductType ||
                                         !customDeliveryCourier ||
                                         !customDeliveryUser" 
                            class="btn btn-primary save-delivery-button">
                            Сохранить доставку
                    </button>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
            
        <br>

        <h1 style="margin-left: 30px">Администрирование интернет-магазина или ресторана</h1>

        <br>
    
        <div class="row form-inline user">

            <div class="col-md-1 user-add-label">
                <label style="float: right;">Добавить пользователя</label>
            </div>

            <div class="col-md-6 user-add-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Имя ползователя</label>
                        <br>
                        <input type="text" 
                               ng-model="userName" 
                               class="form-control textbox" 
                               id="user_name" 
                               name="user_name" 
                               placeholder="Алексей Лемберский"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.user_name.$error.required">
                           Необходимо ввести имя пользователя
                        </p>
                    </div>
                    <div class="col-md-5">
                        <label>E-mail пользователя:</label>
                        <br>
                        <input type="email" 
                               ng-model="email" 
                               class="form-control textbox" 
                               id="user_email" 
                               name="user_email"
                               placeholder="alembers@text.ru"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.user_email.$invalid || adminForm.user_email.$required">
                           Необходимо ввести email в правильном формате
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addUser()" 
                                ng-disabled="!email || !userName" 
                                class="btn btn-primary">
                                Добавить пользователя
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 user-del-label">
                <label style="float: right;">Удалить пользователя</label>
            </div>

            <div class="col-md-4 user-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control user-del-dropdown" 
                                ng-model="userToDelete" 
                                name="user_del_dropdown" 
                                required>
                            <option value="">Выберите пользователя</option>
                            <option ng-repeat="user in users">{{user.Email}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.user_del_dropdown.$error.required">
                            Укажите email пользователя для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delUser()" 
                                ng-disabled="!userToDelete" 
                                class="btn btn-primary user-del-button">
                                Удалить выбранного пользователя
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline courier">

            <div class="col-md-1 courier-add-label">
                <label style="float: right;">Добавить курьера</label>
            </div>

            <div class="col-md-6 courier-add-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Имя курьера</label>
                        <br>
                        <input type="text" 
                               ng-model="courierName" 
                               class="form-control textbox" 
                               id="courier_name" 
                               name="courier_name" 
                               placeholder="Иван Второв"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.courier_name.$error.required">
                           Необходимо ввести имя курьера
                        </p>
                    </div>
                    <div class="col-md-5">
                        <label>E-mail пользователя</label>
                        <br>
                        <select class="form-control courier-user-add-dropdown" 
                                name="courier_user_add_dropdown" 
                                ng-model="userOfCourier" 
                                required>
                            <option value="">Выберите email пользователя</option>
                            <option ng-repeat="user in users">{{user.Email}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.courier_user_add_dropdown.$error.required">
                           Необходимо указать пользователя
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addCourier()" 
                                class="btn btn-primary courier-add-button" 
                                ng-disabled="!userOfCourier || !courierName">
                            Добавить курьера
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 courier-del-label">
                <label style="float: right;">Удалить курьера</label>
            </div>

            <div class="col-md-4 courier-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control courier-del-dropdown" 
                                ng-model="courierToDelete" 
                                name="courier_del_dropdown" 
                                required>
                            <option value="">Выберите курьера</option>
                            <option ng-repeat="courier in couriers">{{courier.CourierName}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.courier_del_dropdown.$error.required">
                            Необходимо указать курьера для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delCourier()" 
                                ng-disabled="!courierToDelete" 
                                class="btn btn-primary courier-del-button">
                            Удалить выбранного курьера
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline product-type">

            <div class="col-md-1 product-type-add-label">
                <label style="float: right;">Добавить тип продукта</label>
            </div>

            <div class="col-md-6 product-type-add-group">
                <div class="row">
                    <div class="col-md-9">
                        <label>Тип продукта:</label>
                        <br>
                        <input type="text"
                               ng-model="productType" 
                               class="form-control textbox" 
                               id="product_type" 
                               name="product_type" 
                               placeholder="Пример: Пицца"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.product_type.$error.required">
                            Необходимо указать тип продукта
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addProductType()" 
                                ng-disabled="!productType" 
                                class="btn btn-primary">
                                Добавить тип продукта
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 product-type-del-label">
                <label style="float: right;">Удалить тип продукта</label>
            </div>

            <div class="col-md-4 product-type-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control product-type-del-dropdown" 
                                ng-model="productTypeToDelete" 
                                name="product_type_del_dropdown" 
                                required>
                            <option value="">Выберите тип продукта</option>
                            <option ng-repeat="prodType in prodTypes">{{prodType}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.product_type_del_dropdown.$error.required">
                            Необходимо указать тип продукта для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delProductType()" 
                                ng-disabled="!productTypeToDelete" 
                                class="btn btn-primary product-type-del-button">
                                Удалиить выбранный тип продукта
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline product">

            <div class="col-md-1 product-add-label">
                <label style="float: right;">Добавить продукт</label>
            </div>

            <div class="col-md-6 product-add-group">
                <div class="row">
                    <div class="col-md-3">
                        <label>Продукт:</label>
                        <br>
                        <input type="text" 
                               ng-model="product" 
                               class="form-control textbox" 
                               id="product" 
                               name="product" 
                               placeholder="Product label" 
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.product.$error.required">
                           Необходимо указать название продукта
                        </p>
                    </div>
                    <div class="col-md-3">
                        <label>Цена, руб:</label>
                        <br>
                        <input type="text" 
                               ng-model="price" 
                               class="form-control textbox" 
                               id="price" 
                               name="price" 
                               placeholder="999" 
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.price.$error.required">
                           Необходимо указать цену
                        </p>
                    </div>
                    <div class="col-md-3">
                        <label>Тип продукта:</label>
                        <br>
                        <select class="form-control product-add-product-type-dropdown" 
                                name="product_add_product_type_dropdown" 
                                ng-model="productTypeOfProduct" 
                                required>
                            <option value="">Выберите тип продукта</option>
                            <option ng-repeat="prodType in prodTypes">{{prodType}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.product_add_product_type_dropdown.$error.required">
                           Необходимо указать тип продукта
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addProduct()" 
                                ng-disabled="!product || !productTypeOfProduct" 
                                class="btn btn-primary">
                                Добавить продукт
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 product-del-label">
                <label style="float: right;">Удалить продукт</label>
            </div>

            <div class="col-md-4 product-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control product-del-dropdown" 
                                ng-model="productToDelete" 
                                name="product_del_dropdown" 
                                required>
                            <option value="">Выберите продукт</option>
                            <option ng-repeat="product in products">{{product.ProductLabel}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.product_del_dropdown.$error.required">
                            Необходимо указать продукт для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delProduct()" 
                                ng-disabled="!productToDelete" 
                                class="btn btn-primary product-del-button">
                                Удалить выбранный продукт
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline marketing-source">

            <div class="col-md-1 marketing-source-add-label">
                <label style="float: right;">Добавить источник рекламы</label>
            </div>

            <div class="col-md-6 marketing-source-add-group">
                <div class="row">
                    <div class="col-md-9">
                        <label>Источник рекламы</label>
                        <br>
                        <input type="text" 
                               ng-model="marketingSource" 
                               class="form-control textbox" 
                               id="marketing_source" 
                               name="marketing_source" 
                               placeholder="vk.com, листовки, телевизор"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.marketing_source.$error.required">
                            Необходимо указать источник рекламы
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addMarketingSource()" 
                                ng-disabled="!marketingSource" 
                                class="btn btn-primary">
                                Добавить ист. рекламы
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 marketing-source-del-label">
                <label style="float: right;">Удалить источник рекламы</label>
            </div>

            <div class="col-md-4 marketing-source-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control marketing-source-del-dropdown" 
                                ng-model="marketingSourceToDelete" 
                                name="marketing_source_del_dropdown" 
                                required>
                            <option value="">Выбрать источник рекламы</option>
                            <option ng-repeat="marketingSource in marketingSources">{{marketingSource}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.marketing_source_del_dropdown.$error.required">
                            Необходимо указать источник рекламы
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delMarketingSource()" 
                                ng-disabled="!marketingSourceToDelete" 
                                class="btn btn-primary marketing-source-del-button">
                                Удалить источник рекламы
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline region">

            <div class="col-md-1 region-add-label">
                <label style="float: right;">Добавить город</label>
            </div>

            <div class="col-md-6 region-add-group">
                <div class="row">
                    <div class="col-md-9">
                        <label>Город:</label>
                        <br>
                        <input type="text" 
                               ng-model="region" 
                               class="form-control textbox" 
                               id="region" 
                               name="region" 
                               placeholder="Москва"
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.region.$error.required">
                            Необходимо указать город
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addRegion()" 
                                ng-disabled="!region" 
                                class="btn btn-primary">
                                Добавить город
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 region-del-label">
                <label style="float: right;">Удалить город</label>
            </div>

            <div class="col-md-4 region-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control region-del-dropdown" 
                                ng-model="regionToDelete" 
                                name="region_del_dropdown" 
                                required>
                            <option value="">Выбрать город</option>
                            <option ng-repeat="region in regions">{{region}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.region.$error.required">
                            Необходимо указать город для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delRegion()" 
                                ng-disabled="!regionToDelete" 
                                class="btn btn-primary region-del-button">
                                Удалить указанный город
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <div class="row form-inline street">

            <div class="col-md-1 street-add-label">
                <label style="float: right;">Добавить улицу</label>
            </div>

            <div class="col-md-6 street-add-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Улица:</label>
                        <br>
                        <input type="text" 
                               ng-model="street" 
                               class="form-control textbox" 
                               id="street" 
                               name="street" 
                               placeholder="Tverskaya" 
                               required>
                        <p class="help-block" 
                           ng-show="adminForm.street.$error.required">
                            Необходимо указать название улицы
                        </p>
                    </div>
                    <div class="col-md-5">
                        <label>Город:</label>
                        <br>
                        <select class="form-control street-add-region-dropdown" 
                                name="street_add_region_dropdown" 
                                ng-model="streetRegion" 
                                required>
                            <option value="">Выбрать город для улицы</option>
                            <option ng-repeat="region in regions">{{region}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.street_add_region_dropdown.$error.required">
                            Необходимо указать город для улицы
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" 
                                ng-click="addStreet()" 
                                ng-disabled="!streetRegion || !street" 
                                class="btn btn-primary">
                                Добаивить улицу
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-1 street-del-label">
                <label style="float: right;">Удалить улицу</label>
            </div>

            <div class="col-md-4 street-del-group">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control street-del-dropdown" 
                                ng-model="streetToDelete" 
                                name="street_del_dropdown" 
                                required>
                            <option value="">Select street</option>
                            <option ng-repeat="street in streets">{{street.StreetName}}</option>
                        </select>
                        <p class="help-block" 
                           ng-show="adminForm.street_del_dropdown.$error.required">
                            Необходимо указать улицу для удаления
                        </p>
                    </div>
                    <div class="col-md-6">
                        <button type="button" 
                                ng-click="delStreet()" 
                                ng-disabled="!streetToDelete" 
                                class="btn btn-primary street-del-button">
                                Удалить указанную улицу
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>
