$grey: #f2f2f2;
$lighter-grey: #e6e6e8;
$dark-blue: #0B4F6C;
$dark-black: #092327;

body{
  background-color: $grey;
  font-family: 'Lato', sans-serif;
}

h1{
  color: $dark-blue;
}

.form-inline{
  margin-left: 5;
  margin-right: 5;
}