.response {
  position: relative; 
  background-color: grey; 
  color: white;
  text-align: center;
}
.general-div {
  padding: 25px;
}
.help-block {
  //color: red;
}
.btn {
  width: 100%;
}
.textbox {
  width: 100%;
}
.dropdown {
  width: 100%;
}

.user {

}
.user-add-label {
  padding-top: 15px;
}
.user-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.user-del-label {
  padding-top: 15px;
}
.user-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.user-del-dropdown {

}
.user-del-button {

}

.courier {

}
.courier-add-label {
  padding-top: 15px;
}
.courier-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.courier-del-label {
  padding-top: 15px;
}
.courier-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.courier-del-dropdown {

}
.courier-del-button {

}

.product-type-add-label {
  padding-top: 15px;
}
.product-type-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.product-type-del-label {
  padding-top: 15px;
}
.product-type-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.product-type-del-dropdown {

}
.product-type-del-button {

}

.product-add-label {
  padding-top: 15px;
}
.product-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.product-del-label {
  padding-top: 15px;
}
.product-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.product-del-dropdown {

}
.product-del-button {

}

.marketing-source-add-label {
  padding-top: 15px;
}
.marketing-source-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.marketing-source-del-label {
  padding-top: 15px;
}
.marketing-source-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.marketing-source-del-dropdown {

}
.marketing-source-del-button {

}

.region-add-label {
  padding-top: 15px;
}
.region-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.region-del-label {
  padding-top: 15px;
}
.region-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.region-del-dropdown {

}
.region-del-button {

}

.street-add-label {
  padding-top: 15px;
}
.street-add-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.street-del-label {
  padding-top: 15px;
}
.street-del-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.street-del-dropdown {

}
.street-del-button {

}

.generator-label {
  padding-top: 15px;
}
.generator-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.reload-deliveries-label {
  padding-top: 15px;
}
.reload-deliveries-group {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}

.custom-delivery {
  border: 1px solid grey; 
  border-radius: 10px;
  padding-top: 10px; 
  padding-bottom: 10px;
}